<div id="events">
  <% @events.each do |e| %>
    <div id="event_div<%= e.id %>" class="event_div">
      <%= render :partial => 'one_event', :locals => {:event => e} %>
    </div>
  <% end %>
</div>

