$dark_purple: #440066;
$darker_purple: #220033;
$light_blue: #d8d8ff;
$lighter_blue: #f0f0ff;
$dark_red: #992222;
$light_gray: #bbbbbb;
$medium_gray: #777777;
$dark_gray: #444444;
$dark_green: #007700;
$red: #cc2222;
$light_yellow: #ffffdd;