<!DOCTYPE html>
<html>
  <head>
    <title>Joke In A Box</title>
  </head>
  <body class="my_body">
    <iframe src="header" class="my_iframe" id="header_frame" width="770" height="34" frameBorder="0"></iframe>
    <iframe src="jokes" class="my_iframe" id="jokes_frame" width="770" height="100%" frameBorder="0"></iframe>  
  </body>
</html>
