<!DOCTYPE html>
<html>
  <head>
    <title>Joke In A Box</title>
  </head>
  <body class="my_body">
    <iframe src="header_and_jokes" class="my_iframe" id="header_and_jokes_frame" width="770" height="100%" valign="top" frameBorder="0"></iframe>
    <iframe src="events" class="my_iframe" id="events_frame" width="250" height="100%" frameBorder="0"></iframe>
    <div id="master_popup"></div>
  </body>
</html>
