<div class="header_div" id="header_div">
</div>
<div class="jokes_div" id="jokes_div">
  <p class="loading">Loading...</p>
</div>
<div class="events_div" id="events_div">
  <p class="loading">Loading...</p>
</div>
<div id="master_popup">
</div>


